body {
    background-color: #EEFFFE;
    margin: 0;
    padding: 0;
}

/* For mobile phones*/
@media only screen and (max-width: 768px) {
    .nav {
        background-color: #3C4999;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
        filter: drop-shadow(.1em 0 1em #252B54);
    }

    .link {
        padding: .75em 2em .75em 2em;
        text-decoration: none;
        font-size: .9rem;
        color: #EEFFFE;
        display: block;
        overflow-x: hidden;
        white-space: nowrap;
        transition: 0.3s;
        font-family: basic-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .navbar {
        padding-top: 3em;
    }

    .close {
        width: 1.25em;
        position: absolute;
        right: .5em;
        top: .5em;
    }

    .header {
        background-color: #C8ECFE;
        width: 100%;
        display: flex;
        filter: drop-shadow(0 0 .3em #252B54);
    }

    .header h1 {
        color: #3C4999;
        margin-left: .6em;
        font-size: 1.5em;
        font-family: basic-sans, sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .menu {
        margin-top: .8em;
        margin-left: auto;
        margin-right: 1em;
        right: 0;
        top: 0;
        padding: .4em .9em .4em .9em;
        border: solid;
        border-radius: .5em;
        border-color: #3C4999;
        width: 1em;
        display: block;
        position: absolute;
    }

    .content {
        margin: 2em;
    }

    .content h1 {
        margin-bottom: 0;
        font-family: basic-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: .8em;
        color: #252B54;
    }

    .content h2{
        padding-top: 1em;
        font-family: basic-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5rem;
        text-transform: uppercase;
        line-height: .8em;
        color: #252B54;
    }

    .content p {
        font-family: basic-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1rem;
        line-height: 1.3em;
        color: #252B54;
    }

    .section{
        display: grid;
        column-gap: .25em;
        row-gap: 1.1em;
        grid-template-columns: auto auto;
    }

    .image{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}


/*
Website Resources:

Colours:
Blue Off-White: #EEFFFE
Very Light Blue: #C8ECFE
Medium Blue: #8D96CC
Dark Blue: #3C4999
Super Dark Blue: #252B54
Peach: #FFBA8A
Dark Peach?: #CC9D8D

Fonts:
Basic sans:

Black, Italics:
font-family: basic-sans,sans-serif;
font-weight: 900;
font-style: italic;

Black:
font-family: basic-sans,sans-serif;
font-weight: 900;
font-style: normal;

Bold, Italics:
font-family: basic-sans,sans-serif;
font-weight: 700;
font-style: italic;

Bold:
font-family: basic-sans,sans-serif;
font-weight: 700;
font-style: normal;

Semibold, Italics:
font-family: basic-sans,sans-serif;
font-weight: 600;
font-style: italic;

Semibold:
font-family: basic-sans,sans-serif;
font-weight: 600;
font-style: normal;

Regular, Italics:
font-family: basic-sans,sans-serif;
font-weight: 400;
font-style: italic;

Regular:
font-family: basic-sans,sans-serif;
font-weight: 400;
font-style: normal;

Light, Italics:
font-family: basic-sans,sans-serif;
font-weight: 300;
font-style: italic;

Light:
font-family: basic-sans,sans-serif;
font-weight: 300;
font-style: normal;

ExtraLight, Italics:
font-family: basic-sans,sans-serif;
font-weight: 200;
font-style: italic;

ExtraLight:
font-family: basic-sans,sans-serif;
font-weight: 200;
font-style: normal;

Thin, Italics:
font-family: basic-sans,sans-serif;
font-weight: 100;
font-style: italic;

Thin
font-family: basic-sans,sans-serif;
font-weight: 100;
font-style: normal;

*/