body {
    background-color: #EEFFFE;
    margin: 0;
    padding: 0;
}

/* For mobile phones*/
@media only screen and (max-width: 768px) {
    .nav {
        background-color: #3C4999;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .nav a {
        padding-left: 1.5em;
        text-decoration: none;
        font-size: 1rem;
        color: #EEFFFE;
        display: block;
        overflow-x: hidden;
        white-space: nowrap;
        transition: 0.3s;
        font-family: basic-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .navbar{
        padding-top: 3em;
    }

    .close{
        width: 1.5em;
        position: absolute;
        right: .25em;
    }

    .menu {
        margin-top: 1em;
        margin-left: auto;
        margin-right: 1em;
        padding: .5em 1em .5em 1em;
        border: solid;
        border-radius: .5em;
        width: 1em;
        display: block;
    }
}


/*
Website Resources:

Colours:
Blue Off-White: #EEFFFE
Very Light Blue: #C8ECFE
Medium Blue: #8D96CC
Dark Blue: #3C4999
Peach: #FFBA8A
Dark Peach?: #CC9D8D

Fonts:
Basic sans:

Black, Italics:
font-family: basic-sans,sans-serif;
font-weight: 900;
font-style: italic;

Black:
font-family: basic-sans,sans-serif;
font-weight: 900;
font-style: normal;

Bold, Italics:
font-family: basic-sans,sans-serif;
font-weight: 700;
font-style: italic;

Bold:
font-family: basic-sans,sans-serif;
font-weight: 700;
font-style: normal;

Semibold, Italics:
font-family: basic-sans,sans-serif;
font-weight: 600;
font-style: italic;

Semibold:
font-family: basic-sans,sans-serif;
font-weight: 600;
font-style: normal;

Regular, Italics:
font-family: basic-sans,sans-serif;
font-weight: 400;
font-style: italic;

Regular:
font-family: basic-sans,sans-serif;
font-weight: 400;
font-style: normal;

Light, Italics:
font-family: basic-sans,sans-serif;
font-weight: 300;
font-style: italic;

Light:
font-family: basic-sans,sans-serif;
font-weight: 300;
font-style: normal;

ExtraLight, Italics:
font-family: basic-sans,sans-serif;
font-weight: 200;
font-style: italic;

ExtraLight:
font-family: basic-sans,sans-serif;
font-weight: 200;
font-style: normal;

Thin, Italics:
font-family: basic-sans,sans-serif;
font-weight: 100;
font-style: italic;

Thin
font-family: basic-sans,sans-serif;
font-weight: 100;
font-style: normal;

*/